.navbar-container{
  margin:0;
  padding:1.5rem;
  padding-bottom:0;
  padding-top:0;
  display:flex;
  background-color:#063510;
  color:white;
  justify-content:space-between;
  align-items:center;
  height:5rem;

}

.return{
  cursor:pointer;
  transition:0.5s;
}

.return:hover{
  scale:1.1;
  transition:0.3s;
  color:green;
}
